.site-header {
background-image:-webkit-linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.9)),url(bgPic.jpg);
background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.9)),url(bgPic.jpg);
color: goldenrod;
height: 100vh;
font-family: monospace;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.site-header-content {
    margin: 10px;
}



.profile-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: black 2px 5px 5px;
}

.instaLink {
    color: lightcoral;
    text-decoration: none;
}

.gitHub {
    text-decoration: none;
}

body {
    margin: 0%;
}